@charset "UTF-8";

html body {
    padding-top: 70px;
    background: #487c7c;
}

.container2 {
    display: grid !important;
    grid-template-columns: auto auto auto !important;
    /* display: flex;*/
    justify-content: center !important;
    text-align: center !important;
    /*margin-top: 10% !important;*/

}

.table {
    margin-top: 10px;
}

.card {
    margin: 10px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 7px 7px 10px 0px rgba(50, 50, 50, 0.9);

}

.imgRadius {
    border-radius: 20px;
}

.playtime {
    width: 70%;
}


.taken{
    border-radius: 20px 20px 0px 0px;
    outline: none;
    padding: 5px;
    font-weight: bold;
    background-color: red;
    border: 2px solid black;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 90px;

}

.taken:focus{
    outline: none;
}


.notTaken:focus{
    outline: none;
}


.notTaken{
    border-radius: 20px 20px 0px 0px;
    outline: none;
    width: 90px;
    padding: 5px;
    font-weight: bold;
    background-color: green;
    border: 2px solid black;
    color: white;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.container2 {

}
