@charset "UTF-8";

html body {
    padding-top: 70px;
    background: #487c7c;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

.playtime{
    width: 70%;
}

.taken{
 background-color: red;
}

.notTaken{
    background-color: green;
}

