@charset "UTF-8";

html body {
    padding-top: 70px;
    background: #487c7c;
}

.container2 {
    display: grid !important;
    grid-template-columns: auto auto auto !important;
    /* display: flex;*/
    justify-content: center !important;
    text-align: center !important;
    margin-top: 10% !important;

}

.table {
    margin-top: 10px;
}

.card {
    margin: 10px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 7px 7px 10px 0px rgba(50, 50, 50, 0.9);

}

.imgRadius {
    border-radius: 20px;
}

.playtime {
    width: 70%;
}

.taken {
    background-color: red;
}

.notTaken {
    background-color: green;
}

.container2 {

}
